.form {
    z-index: 1;
    border: 1px solid gray;
    justify-content: center;
    margin: auto;
    width: 300px;
    height: 400px;
    padding-left: 10px;
    
}
.form-element {
    margin-top: 10px;
}
.form-input {
    margin-left: 50px;
}